.navbar{
    display: flex;
    min-height: 12vh;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(254, 254, 254);
}
.logo-title{
    color: #000;
}
.quiz-links{
    position: relative;top: 5px;
}
.quiz-links li{
    list-style-type: none;
    position: relative;
    right: 22px;
    font-size: 22px;
}
.user{
    color: #000;
}
.logo{
    display: flex;
}
.user{
  width: 60px;height: auto;border-radius: 35px;
  
}
.user img{
    width: 100%;
    height: 60px;
    border-radius: 35px;
    
}


/* menu stylings goes here */
.menu{
    position: absolute;
    left: -60px;
    font-size: 28px;
}

@media screen and (max-width:568px){
    .quiz-links li {
        list-style-type: none;
        position: relative;
        right: 22px;
        font-size: 18px;
    }
    .user{
        width: 40px;height: auto;border-radius: 35px;
        
      }
      .user img{
        width: 100%;
        height: 40px;
        border-radius: 35px;
        
    }
    .logo-title{
        font-size: 20px;
    }
}