.slide-1 {
    background-color: #22b1ff;
    width: 100%;
    min-height: 90vh;

}

.slide {
    display: flex;
    min-height: 90vh;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.slide-logo {
    width: 40% !important;
}

.slide-logo img {
    width: 100%;
}

.slide-content {
    width: 40%;
}

.slide-one-title {
    text-align: left;
    color: #fff;
    font-size: 2em;
    font-weight: normal;
    font-family: 'BS', sans-serif;
    line-height: 1;
}

.title-descp {
    color: #fff !important;
    letter-spacing: 1.2px;
    word-spacing: 2px;
}

.slide-btn {
    background-color: rgba(47, 209, 201, 0.17);
    box-shadow: 1px 5px 10px rgb(27, 120, 219);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    max-width: 250px;
    padding: 0 22px;
    height: 58px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: 'BS', Roboto, Arial, sans-serif;
}

.slide-btn:hover {
    background-color: rgb(29, 195, 255);
    color: #fff;
}

/* slide 2 stylings goes here */
.slide-2 {
    background-image: linear-gradient(0deg, #4483cf 0%, #29456d 100%);
}

.slide2-content li {
    color: #fff;
    list-style-type: none;
    margin: 10px 0px;
    list-style-type: square;
    padding: 5px 0;
}

/* slide 3 styling goes here */
.slide-3 {
    background-image: linear-gradient(0deg, #4483cf 0%, #29456d 100%);
}

.slide-4 {
    background-image: linear-gradient(-180deg, #4481cf 0%, rgb(191, 236, 228) 100%);
}

.slide-form {
    background-color: #fff;
    width: 30% !important;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 85%;
    height: 400px;
    padding: 25px;
}

.inputs {
    background-color:
        hsl(210 27% 96%);
    border-color:
        hsl(210 27% 96%);
    border-radius:
        5px;
    border-style:
        solid;
    border-width:
        1px;
    color:
        hsl(245 12% 41%);
    display:
        inline-block;
    font-family:
        Roboto;
    font-size:
        17.6px;
    font-weight:
        300;
    line-height:
        40px;
    margin:
        8px 0px;
    padding:
        0px 30px;
}
.register{
 padding: 12px 60px;
 width: 95%;
 font-size: 24px;
 border-radius: 8px;
 background-color: rgb(180, 35, 35);
}
.form-icons{
    display: flex;
    justify-content: center;
    
    width: 75%;
    margin: auto;
}
.form-icons li{
list-style-type: none;
margin-right: 20px;
}
.form-icons li a{
    color:#fff;
}
.form-link{
    font-size: 11px;
    margin-top: 12px;
}
input:focus{
    border: none;
    outline: none;
}
.form-icons li:first-child{
    background-color: rgb(38, 0, 255);
    padding: 10px 15px;
    border-radius: 35px;
    font-size: 18px;
    color: #fff;
}
.form-icons li:nth-child(2){
    background-color: red;
    padding: 10px 15px;
    border-radius: 35px;
    font-size: 18px;
    color: #fff;
}

@media screen and (max-width:768px) {
    .slide-logo {
        width: 100% !important;
    }

    .slide-logo img {
        width: 100%;
    }

    .slide-content {
        width: 100%;
    }
    .inputs{
        width: 100%;
    }
    .register {
        padding: 12px 16px;
        width: 100%;
        font-size: 24px;
        border-radius: 8px;
        background-color: rgb(180, 35, 35);
    }
}