
.questions {
  background-color: #252d4a;
  width: 100%;
  min-height: 90vh;
}
.question-comp{
    height: 90vh;
    display: flex;
    width: 85%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.score-section {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #fff;
  position: relative;

}
.score-details{
  font-size: 18px;
}
.banner{
  display: flex;
  height: 300px !important;
  width: 100%;
  margin: auto;
  position: relative;
  align-items: center;
}

.back-to-home{
  display: flex;
  width: 100%;
  height: 40px;
position: relative;
left: -65%;
top: 0px;
}
.return-to-home{
  width: 19%;
  
}
.retake{
  display: flex;
width: 90%;
height: 40px;
}
.result{
  font-size: 24px !important;letter-spacing: 3px;
}
.score{
  font-size: 36px;
}
.return-links{
  width: 100%;
  gap: 2.5rem;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}
.share-icons{
  display: flex;
  gap: 1.2rem;
  min-height: 20vh;
  align-items: center;
}
.share-icons li{
  list-style-type: none;
 
}
.share-icons li a {
  transition: 0.5s all ease 05;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.share-icons li:first-child{
  padding: 10px 15px;
  background-color: #2f922f;
  border-radius: 25px;
  font-size: 18px;
}
.share-icons li:nth-child(2){
  padding: 10px 15px;
  background-color: #04f5f5;
  border-radius: 25px;
  font-size: 18px;
}
.share-icons li:nth-child(3){
  padding: 10px 15px;
  background-color: #003cff;
  border-radius: 25px;
  font-size: 18px;
}
.share-icons li:nth-child(4){
  padding: 10px 15px;
  background-color: #04f5f5;
  border-radius: 25px;
  font-size: 18px;
}
.share-icons li:nth-child(5){
  padding: 10px 15px;
  background-color: #850000;
  border-radius: 25px;
  font-size: 18px;
}
.share-icons li:hover{
  transform: scale(1.1);
}


/* QUESTION/TIMER/LEFT SECTION */
.question-section {
    text-align: center;
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
  color: #fff;
}

.question-count span {
  font-size: 28px;
  color: #fff;
}

.question-text {
  margin-bottom: 12px;
  color: #fff;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 60%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  /* border-radius: 15px; */
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin: 20px 2px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}


@media screen and (max-width:992px){
  .question-comp {
    width: 100%;
    justify-content: flex-start;
    padding-top: 40px;
    min-height: 120vh;
}
.return-to-home{
  width: 200px;
  position: relative;
  left: 5%;
  bottom: 20px;
  height: 20px;
}
.answer-section {
  width: 100%;
}
/* .score-section {
  width: 100%;
  height: 194vh;
} */
.score-section {
  width: 75%;
  height: 124vh;
}
.return-links {
  flex-direction: column;
}

.share-icons {
  display: flex;
  gap: 0.9rem;
  min-height: 12vh;
  align-items: center;
}
.share-icons li:first-child,.share-icons li:nth-child(2),.share-icons li:nth-child(3),.share-icons li:nth-child(4),.share-icons li:nth-child(5) {
  padding: 3px 9px;
}
.back-to-home {
  left: 0px;
}
}
@media screen and  (min-width:992px) and (max-width:1400px){
  .question-comp {
    width: 70%;
    justify-content: flex-start;
    padding-top: 0;
    min-height: 110vh;
}
.answer-section {
  width: 70%;
}
.return-to-home{
  width: 210px;
  height: 30px;
  position: relative;
  bottom: 10px;
}
}
@media screen and  (min-width:1400px){
  .question-comp {
    width: 70%;
    /* justify-content: flex-start; */
    padding-top: 0;
    min-height: 90vh;
}
.answer-section {
  width: 70%;
}
.return-to-home{
  width: 220px;
  height: 35px;
  position: relative;
  bottom: 10px;
}
}
